/* 
    Created on : 19 sept 2023, 19:27:58
    Author     : danny
*/
#encabezados {
    color: blueviolet;
    font-weight: bold;
}

#tituloPrincipal{
    color: red;
}

.parrafosCentrados {
    text-align: center;
    font-weight: bolder;
    color: #ffcc33;
}

.textoVerdoso{
    color: #ccff66;
}



/* Selector universal
* {
    color: wheat;
}*/

/*Selector de elementos
p, h1, span {
    color: #6666ff;
}
*/

/*a:link{
    background-color: greenyellow;
    color:antiquewhite;
}

a:visited{
    background-color: pink;
    color:antiquewhite
}

a:hover{
    background-color: coral;
    color:antiquewhite;
}

a:active{
    background-color: #00cccc;
    color:antiquewhite;
}

p:nth-child(odd){
    background-color: darksalmon;
}

p:nth-child(even){
    background-color: cadetblue;
}*/

/*************************************************/

#barraLateral{
    position: absolute;
    height: 81%;
    top: 12%;
    width: 20%;
    left: 0;
    background-color: coral;
    padding: 10px;
}

#contenido{
    position: absolute;
    height: 81%;
    top: 12%;
    width: 20%;
    left: 80%;
    padding: 10px;
}

#piePagina{
    position: absolute;
    height: 7%;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    background-color: azure;
    text-align: center;
    padding-top: 25%;
}